:root {
--accent-color: #2196F3;
--dark-grey-color: #212121;
--grey-color: #757575;
--black-color: #000000;
--white-color: #FFFFFF; 
--bg-color: #2F303A;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--dark-grey-color);
}
button {
    cursor: pointer;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.link.current {
    color: var(--accent-color);
}
.navigation a {
    color: var(--dark-grey-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation a:hover,
.navigation a:focus {
    color: var(--accent-color);
}
.web {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.studio {
    font-family: 'Oleo', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black-color);
}
.contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}
.container {
    width: 1600px;
    height: 600px;
    background-color: var(--bg-color);
}
.container-title {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}
.container-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-color);
    color: var(--white-color);
}
.caption {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.features-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    text-transform: uppercase;
}
.features-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);

}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
.footer {
    width: 1600px;
    height: 252px;
    background-color: var(--bg-color);
}
.footer .studio,
.footer .address {
    color: var(--white-color);
}
address .address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
address a {
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.menu-btn {
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: F5F4FA;
    color: var(--dark-grey-color);
}
.menu-btn:hover,
.menu-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}
.gallery-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--dark-grey-color);
}
.gallery-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey-color);

}